[submodule "erl_rest_chat_submodule"]
	path = erl_rest_chat_submodule
	url = https://github.com/pratimachainani/erl_rest_chat
[submodule "erl_rest_chat"]
	path = erl_rest_chat
	url = https://github.com/pratimachainani/erl_rest_chat
